<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css"
    />
    <link rel="stylesheet" href="../static/css/index.css" />
    <title>Document</title>
  </head>

  <body>
    <nav>
      <div class="left">
        <h1>FORUM</h1>
      </div>
      <div class="right">
        <div class="registered">
          <i class="fas fa-user"></i>

          {{if .IsLoggedIn}}
          <p><a href="/logout">logout</a></p>
          {{else}}
          <p><a href="/login">login</a></p>
          {{end}}
        </div>
      </div>
    </nav>
    <div class="body">
      <div class="sidebar">
        <button class="cat-btn">Liked</button>
        <button class="cat-btn">Posts</button>
        <h3>categories</h3>
        <button class="cat-btn">Entertainment</button>
        <button class="cat-btn">Sports</button>
        <button class="cat-btn">Education</button>
        <button class="cat-btn">Fashion</button>
      </div>
      <div class="main-section">
        <div class="posts-container">
          <button>
            <a href="{{if .IsLoggedIn}}/post{{else}}/login{{end}}"
              >create post</a
            >
          </button>
          {{range .Posts }}

          <div class="posts">
            <div class="post-card">
              <h3>name {{.Created_at}}</h3>
              <p>{{.Content}}</p>

              <div class="todos">
                <button onclick="likePost('{{.Id}}')" id="like-count-{{.Id}}">
                  like {{.Like}}
                </button>
                <button onclick="disLikePost('{{.Id}}', '{{.Content}}')">
                  dislike {{.Dislike}}
                </button>
                <button class="open-comment-section" onclick="Open('{{.Id}}')">
                  comment
                </button>
              </div>
            </div>
            <div class="comment-section close" id="{{.Id}}">
              <form method="post" class="form-comment">
                <textarea name="content" cols="30" rows="10"></textarea>
                <input type="hidden" name="postid" value="{{.Id}}" />
                <input type="submit" value="comment" />
              </form>
              <div class="comments">
                {{range .PostComments}}
                <h3>{{.Name}}</h3>
                <p class="comment">{{.Content}}</p>
                <div class="todos">
                  <button>likes {{.Like}}</button>
                  <button>dislike {{.Dislike}}</button>
                </div>
                {{end}}
              </div>
            </div>
          </div>
          {{end}}
        </div>
      </div>
    </div>
    <script src="../static/js/index.js"></script>
  </body>
</html>
