<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css"
    />
    <link rel="stylesheet" href="../static/css/index.css" />
    <title>Document</title>
  </head>

  <body>
    <nav>
      <div class="left">
        <h1>FORUM</h1>
      </div>
      <div class="right">
        <div class="registered">
          <i class="fas fa-user"></i>
          <p>Valeria</p>
        </div>
      </div>
    </nav>
    <div class="body">
      <div class="sidebar">
        <button class="cat-btn">Liked</button>
        <button class="cat-btn">Posts</button>
        <h3>categories</h3>
        <button class="cat-btn">Entertainment</button>
        <button class="cat-btn">Sports</button>
        <button class="cat-btn">Education</button>
        <button class="cat-btn">Fashion</button>
      </div>
      <div class="main-section">
        <div class="posts-container">
          <form method="post" class="post-form">
            <textarea name="post" cols="30" rows="10"></textarea>
            <div class="checkboxes">
              <div class="cat">
                <input type="checkbox" />
                <label for="">Entertainment</label>
              </div>
              <div class="cat">
                <input type="checkbox" />
                <label for="">Sports</label>
              </div>
              <div class="cat">
                <input type="checkbox" />
                <label for="">Education</label>
              </div>
              <div class="cat">
                <input type="checkbox" />
                <label for="">Fashion</label>
              </div>
            </div>
            <input type="submit" value="Post" />
          </form>
          <div class="posts">
            <div class="post-card">
              <h3>name {{.date}}</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem
                aliquid blanditiis dicta quasi sint vitae facilis et. Vero
                assumenda fuga, tempore adipisci sit pariatur eos praesentium,
                provident ipsam dignissimos unde!
              </p>

              <div class="todos">
                <button>like</button>
                <button>dislike</button>
                <button class="open-comment-section">comment</button>
              </div>
            </div>
            <div class="comment-section close">
              <form method="post" class="form-comment">
                <textarea name="post" cols="30" rows="10"></textarea>
                <input type="submit" value="comment" />
              </form>
              <div class="comments">
                <h3>name</h3>
                <p class="comment">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Praesentium dolor labore nam inventore hic sequi qui, quasi
                  laudantium. Eligendi quaerat officia ad quae sed incidunt
                  ipsam rerum alias fuga reprehenderit?
                </p>
                <div class="todos">
                  <button>like</button>
                  <button>dislike</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
